Job Search Tool Aadzuna.json
{
  "name": "Job Search Tool Aadzuna",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "job_title"
            },
            {
              "name": "page"
            },
            {
              "name": "resume"
            },
            {
              "name": "results_per_page"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        352
      ],
      "id": "57127e0c-fc9f-4384-b41f-ae73b90df5a1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://api.adzuna.com/v1/api/jobs/us/search/{{ $node[\"When Executed by Another Workflow\"].json.page || 1 }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "what",
              "value": "={{ $json.job_title }}"
            },
            {
              "name": "results_per_page",
              "value": "={{ $json.results_per_page }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        352
      ],
      "id": "966ce700-aaf3-45b1-a517-5bf029e4b342",
      "name": "HTTP Request1",
      "credentials": {
        "httpCustomAuth": {
          "id": "196K4jqXTZUnrMAW",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        352
      ],
      "id": "b8e9f35a-dcdb-413b-a50d-8c3732efc41a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b35eec2-efff-4086-9800-28c8ace5beb9",
              "name": "output",
              "value": "=Successfully processed {{ $node[\"Loop Over Items\"].context.currentIteration }} jobs.",
              "type": "string"
            },
            {
              "id": "3bea242b-4b6d-4c87-abca-36b7aec71dcb",
              "name": "message",
              "value": "=Successfully processed {{ $node[\"Loop Over Items\"].context.currentIteration }} jobs.",
              "type": "string"
            },
            {
              "id": "b8f5c867-4d17-44d1-b1b5-9be8412f37a7",
              "name": "success",
              "value": "={{ true }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        160
      ],
      "id": "14a7d13a-b6a1-47c7-b335-2163a565b26c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs",
          "mode": "list",
          "cachedResultName": "Job Tracker Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.redirect_url }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Company": "={{ $json.company.display_name }}",
            "Salary": "={{ $json.salary_min }}",
            "Location": "={{ $json.location.area[0] }}",
            "Job Title": "={{ $json.title }}",
            "Tier": "={{ $json.tier }}",
            "Notes": "={{ $json.reason }}",
            "Date": "={{ $json.created }}",
            "Match Score": "={{ $json.match_score }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Travel",
              "displayName": "Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Score",
              "displayName": "First Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Honest Ceiling",
              "displayName": "Honest Ceiling",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Raw",
              "displayName": "ATS Raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Honest",
              "displayName": "ATS Honest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hit",
              "displayName": "Hit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Miss",
              "displayName": "Miss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Scorecard",
              "displayName": "Full Scorecard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received",
              "displayName": "received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keys_received",
              "displayName": "keys_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hint",
              "displayName": "hint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_keys_found",
              "displayName": "total_keys_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "all_keys",
              "displayName": "all_keys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_payload",
              "displayName": "full_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_details",
              "displayName": "job_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS_Raw",
              "displayName": "ATS_Raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS_Honest",
              "displayName": "ATS_Honest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Scorecard",
              "displayName": "Full_Scorecard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        672
      ],
      "id": "8d3f1d1e-b2c1-4090-a374-44825b9bcf13",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j9JaFk84I0drJ88V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the AI output\nlet aiText = $input.first().json.text;\n\n// 2. Grab the original job data from the Loop node\nconst originalJob = $('Loop Over Items').item.json;\n\ntry {\n  // --- ADDED SANITIZATION STEP ---\n  // Remove markdown code blocks if the AI included them\n  if (aiText.includes('```')) {\n    aiText = aiText\n      .replace(/```json/gi, '') // Remove opening tag\n      .replace(/```/g, '')     // Remove closing tag\n      .trim();                  // Clean up whitespace\n  }\n\n  // 3. Parse the AI string into a real object\n  const aiData = JSON.parse(aiText);\n\n  // 4. THE MERGE:\n  const merged = {\n    ...originalJob,\n    ...aiData,\n    timestamp: new Date().toISOString()\n  };\n\n  delete merged.text; \n\n  return merged;\n\n} catch (e) {\n  // Fallback if the AI fails to format the JSON\n  return {\n    ...originalJob,\n    tier: \"Error\",\n    reason: \"AI Response was not valid JSON\",\n    raw_response: aiText, // Added this to help you debug in the future\n    timestamp: new Date().toISOString()\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        352
      ],
      "id": "989d600d-685e-44a6-9028-2138689693c4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        352
      ],
      "id": "597037cb-54f6-4e50-9319-1ab59f2f75fe",
      "name": "flatten_jobs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wbh7dSqWscAvu4ey",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wbh7dSqWscAvu4ey",
          "cachedResultName": "Process Job Descriptions"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "resume": "={{ $('When Executed by Another Workflow').item.json.resume }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [
            "resume",
            "description"
          ],
          "schema": [
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        352
      ],
      "name": "Call Process Job Descriptions",
      "id": "ee325c92-9f1b-48bf-9934-a6c58dd74fe5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appODi8xjeL09el6U",
          "mode": "list",
          "cachedResultName": "Job Search Tracker",
          "cachedResultUrl": "https://airtable.com/appODi8xjeL09el6U"
        },
        "table": {
          "__rl": true,
          "value": "tblhBPWzUBVWQ45DX",
          "mode": "list",
          "cachedResultName": "Search Results",
          "cachedResultUrl": "https://airtable.com/appODi8xjeL09el6U/tblhBPWzUBVWQ45DX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.redirect_url }}",
            "Timestamp": "={{$now}}",
            "Company": "={{ $json.company.display_name }}",
            "Salary": "={{ $json.salary_min + \"-\" + $json.salary_max\n}}",
            "Location": "={{ $json.location.area[0] }}",
            "Job Title": "={{ $json.title }}",
            "Tier": "={{ $json.tier }}",
            "Notes": "={{ $json.reason }}",
            "Date": "={{ $json.created }}",
            "Match Score": "={{ $json.match_score }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Travel",
              "displayName": "Travel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Score",
              "displayName": "First Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Honest Ceiling",
              "displayName": "Honest Ceiling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ATS Raw",
              "displayName": "ATS Raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ATS Honest",
              "displayName": "ATS Honest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hit",
              "displayName": "Hit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Miss",
              "displayName": "Miss",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Scorecard",
              "displayName": "Full Scorecard",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1088,
        448
      ],
      "id": "77fafffe-1b1d-48be-be03-849532eb37db",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "RgXu0OgZAJsN8PCS",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smartsheet.com/2.0/sheets/6337240650174340/rows",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n[\n  {\n    \"toBottom\": true,\n    \"cells\": [\n      { \"columnId\": 6262835719212932, \"value\": $json.title + \" - \" + $json.company.display_name },\n      { \"columnId\": 4011035905527684, \"value\": $now.toISO() },\n      { \"columnId\": 8514635532898180, \"value\": $json.title },\n      { \"columnId\": 351861208289156, \"value\": $json.company.display_name },\n      { \"columnId\": 7129375020715908, \"value\": $json.timestamp },\n      { \"columnId\": 6273366777696132, \"value\": $json.match_score },\n      { \"columnId\": 8653736101842820, \"value\": $json.salary_min + \"-\" + $json.salary_max },\n      { \"columnId\": 7802834897899396, \"value\": $json.location.area[0] },\n      { \"columnId\": 8746821934681988, \"value\": $json.tier },\n      { \"columnId\": 4422596784590724, \"value\": $json.redirect_url },\n      { \"columnId\": 4320135575015300, \"value\": $json.reason }\n    ]\n  }\n]\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        256
      ],
      "id": "2fd5e622-88fb-4214-83f7-e1a905016a6a",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "pGdGEGoFyDz0OdkN",
          "name": "SmartSheet"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        424
      ],
      "id": "59956639-4ba9-450b-8869-e4506fc10430",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "flatten_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Process Job Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flatten_jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Process Job Descriptions": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c67508ca-f8fb-40ae-97e8-e7752318b698",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99e572e62f428651e29af95b5d29f11649b064a98aef50e2f8db4f13ca56aac0"
  },
  "id": "AxKy7zqrHRSUV0lC",
  "tags": []
}