Job Search Tool Google.json
{
  "name": "Job Search Tool Google",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "job_title"
            },
            {
              "name": "resume"
            },
            {
              "name": "page"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        272
      ],
      "id": "f0be2e73-29e1-4517-bfb6-a19df977104a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "google_jobs",
        "q": "={{ $json.job_title }}",
        "additionalFields": {
          "location": "United States",
          "hl": "en",
          "next_page_token": "="
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -32,
        272
      ],
      "id": "e587c8fa-3f30-48c9-b3bb-0dd0033b6da6",
      "name": "Google_jobs search",
      "credentials": {
        "serpApi": {
          "id": "IGDecQZYgXKdn2eR",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wbh7dSqWscAvu4ey",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wbh7dSqWscAvu4ey",
          "cachedResultName": "Process Job Descriptions"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "resume": "={{ $('When Executed by Another Workflow').item.json.resume }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        272
      ],
      "id": "040605f3-e2a5-462b-9d38-50bb5cab7323",
      "name": "Call 'Process Job Descriptions'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        272
      ],
      "id": "159e02f8-d0d4-4a03-afe0-1cabafb16721",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b35eec2-efff-4086-9800-28c8ace5beb9",
              "name": "output",
              "value": "=Successfully processed {{ $node[\"Loop Over Items\"].context.currentIteration }} jobs.",
              "type": "string"
            },
            {
              "id": "3bea242b-4b6d-4c87-abca-36b7aec71dcb",
              "name": "message",
              "value": "=Successfully processed {{ $node[\"Loop Over Items\"].context.currentIteration }} jobs.",
              "type": "string"
            },
            {
              "id": "b8f5c867-4d17-44d1-b1b5-9be8412f37a7",
              "name": "success",
              "value": "={{ true }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        80
      ],
      "id": "b0db94f7-33a4-41fa-b9b9-3f4feacea856",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs",
          "mode": "list",
          "cachedResultName": "Job Tracker Search",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dl6HXlTZFgWr7kpqxYQop0T8AFZZ0BQlxuyxI_dZFRs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.redirect_url }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Company": "={{ $json.company.display_name }}",
            "Salary": "={{ $json.salary_min }}",
            "Location": "={{ $json.location.area[0] }}",
            "Job Title": "={{ $now }}",
            "Tier": "={{ $json.tier }}",
            "Notes": "={{ $json.reason }}",
            "Date": "={{ $json.created }}",
            "Match Score": "={{ $json.match_score }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Travel",
              "displayName": "Travel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Score",
              "displayName": "First Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Honest Ceiling",
              "displayName": "Honest Ceiling",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Raw",
              "displayName": "ATS Raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Honest",
              "displayName": "ATS Honest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hit",
              "displayName": "Hit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Miss",
              "displayName": "Miss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Scorecard",
              "displayName": "Full Scorecard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received",
              "displayName": "received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keys_received",
              "displayName": "keys_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hint",
              "displayName": "hint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_keys_found",
              "displayName": "total_keys_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "all_keys",
              "displayName": "all_keys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_payload",
              "displayName": "full_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_details",
              "displayName": "job_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS_Raw",
              "displayName": "ATS_Raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS_Honest",
              "displayName": "ATS_Honest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full_Scorecard",
              "displayName": "Full_Scorecard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        592
      ],
      "id": "fcc3e825-78b4-430c-89f7-996ea61ee3db",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j9JaFk84I0drJ88V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appODi8xjeL09el6U",
          "mode": "list",
          "cachedResultName": "Job Search Tracker",
          "cachedResultUrl": "https://airtable.com/appODi8xjeL09el6U"
        },
        "table": {
          "__rl": true,
          "value": "tblhBPWzUBVWQ45DX",
          "mode": "list",
          "cachedResultName": "Search Results",
          "cachedResultUrl": "https://airtable.com/appODi8xjeL09el6U/tblhBPWzUBVWQ45DX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Job Title": "={{ $json.title }}",
            "Company": "={{ $json.company }}",
            "Date": "={{ $json.timestamp }}",
            "Match Score": "={{ $json.match_score }}",
            "Salary": "={{ $json.salary_min + \"-\" + $json.salary_max }}",
            "Location": "={{ $json.location }}",
            "Tier": "={{ $json.tier\n}}",
            "Link": "={{ $json.link }}",
            "Notes": "={{ $json.reason }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Travel",
              "displayName": "Travel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Score",
              "displayName": "First Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Honest Ceiling",
              "displayName": "Honest Ceiling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ATS Raw",
              "displayName": "ATS Raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ATS Honest",
              "displayName": "ATS Honest",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hit",
              "displayName": "Hit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Miss",
              "displayName": "Miss",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Scorecard",
              "displayName": "Full Scorecard",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1088,
        176
      ],
      "id": "73848efd-7836-4004-944f-c231f634067a",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "oUF9Gb32GnHRpKAc",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the AI output\nlet aiText = $input.first().json.text;\n\n// 2. Grab the original job data from the Loop node\nconst originalJob = $('Loop Over Items').item.json;\n\ntry {\n  // --- ADDED SANITIZATION STEP ---\n  // Remove markdown code blocks if the AI included them\n  if (aiText.includes('```')) {\n    aiText = aiText\n      .replace(/```json/gi, '') // Remove opening tag\n      .replace(/```/g, '')     // Remove closing tag\n      .trim();                  // Clean up whitespace\n  }\n\n  // 3. Parse the AI string into a real object\n  const aiData = JSON.parse(aiText);\n\n  // 4. THE MERGE:\n  const merged = {\n    ...originalJob,\n    ...aiData,\n    timestamp: new Date().toISOString()\n  };\n\n  delete merged.text; \n\n  return merged;\n\n} catch (e) {\n  // Fallback if the AI fails to format the JSON\n  return {\n    ...originalJob,\n    tier: \"Error\",\n    reason: \"AI Response was not valid JSON\",\n    raw_response: aiText, // Added this to help you debug in the future\n    timestamp: new Date().toISOString()\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        272
      ],
      "id": "7fa151f2-fcf8-4fb9-951a-4f2afb1c1722",
      "name": "Merge JSON"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n//  data is always inside 'jobs_results'\nconst rawJobs = items[0].json.jobs_results || [];\n\nreturn rawJobs.map(job => {\n  return {\n    title: (job.title || \"No Title\").replace(/<\\/?[^>]+(>|$)/g, \"\"),\n    company: job.company_name || \"Unknown\",\n    location: job.location || \"Remote\",\n    description: job.description || \"Uknown\",\n    salary: job.detected_extensions.salary || \"Unknown\",\n    link: job.share_link || \"No Link\"\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        272
      ],
      "id": "2f9f49db-2aa2-40e1-b944-e064bea48029",
      "name": "flatten_jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smartsheet.com/2.0/sheets/6337240650174340/rows",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n[\n  {\n    \"toBottom\": true,\n    \"cells\": [\n      { \"columnId\": 6262835719212932, \"value\": $json.title + \" - \" + $json.company },\n      { \"columnId\": 4011035905527684, \"value\": $now.toISO() },\n      { \"columnId\": 8514635532898180, \"value\": $json.title },\n      { \"columnId\": 351861208289156, \"value\": $json.company },\n      { \"columnId\": 7129375020715908, \"value\": $json.timestamp },\n      { \"columnId\": 6273366777696132, \"value\": $json.match_score },\n      { \"columnId\": 8653736101842820, \"value\": $json.salary },\n      { \"columnId\": 7802834897899396, \"value\": $json.location },\n      { \"columnId\": 8746821934681988, \"value\": $json.tier },\n      { \"columnId\": 4422596784590724, \"value\": $json.link },\n      { \"columnId\": 4320135575015300, \"value\": $json.reason }\n    ]\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        368
      ],
      "id": "fca93654-209e-4b9c-9a1c-463b2fc028ce",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "pGdGEGoFyDz0OdkN",
          "name": "SmartSheet"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        344
      ],
      "id": "926ff90b-caf5-4ca4-a351-01a287a96b31",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google_jobs search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_jobs search": {
      "main": [
        [
          {
            "node": "flatten_jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Process Job Descriptions'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Process Job Descriptions'": {
      "main": [
        [
          {
            "node": "Merge JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flatten_jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d8b0cc2e-0565-46e9-82b2-3fa0734933f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99e572e62f428651e29af95b5d29f11649b064a98aef50e2f8db4f13ca56aac0"
  },
  "id": "qPrRvmDjp6tEMNgB",
  "tags": []
}